@import url("//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css");

nav{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding:300;
  margin-right: 10px;
  opacity:0.9;
}

body
{
background-image:url('https://cloud.githubusercontent.com/assets/2779691/3831929/24076230-1d99-11e4-93a9-be812e759fb2.JPG');
background-size: cover;
background-repeat: no-repeat;
}

Footer {
display:block;
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background-color: Black;
opacity:0.9;
}

p {
  color:White;
  font-size: 30px;
  text-align:center
}

li {
  color:Black;
}

#brand {
  color:White;
  font-size: 60px;
  margin-left: 50px;
  float:left;
}

.navbar {
  margin-top: 100px;
  margin-left: 50px;
}


#signup {
   float: right;
   margin-right:50px;
   margin-top:15px;
}

h4 {
  color:White;
}

h1 {
  font-family: 'Audiowide', cursive;
}
